@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kanit;
  }
  .size-text{
    font-size: 30px;
  }

@font-face {
    font-family: "Kanit";
}

.topMargin{
    margin-top: 80px;
    text-align: center;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;
    position: absolute;
    height: 100%;
    left: 0;
    top:0;
  }
  
  .sidebar a {
    display: block;
    color: black;
    width: 100%;
    padding: 16px;
    text-align: center;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #555;
    text-decoration: none !important;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    transition: 2s;
    text-decoration: none !important;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  .HideExamNumber{
    display: none;
  }
  .img-profile{
    margin: 0 auto;
    display:block;
  }
  .container-exam{
    position: relative;
    margin-left: 150px;
    left: 50%;
    transform: translateX(-53%)
  }
  @media (min-width: 1000px) { 
    .container-tutorial,.container-tutorial-video,.container-home,.container-about,.container-history{
     padding:0 80px !important ;
      text-align: left;
    }
    .container-tutorial h5,.container-tutorial-video h5,.container-home h5,.container-history h5{
      text-align: left !important;
    }
    .container-tutorial h1,.container-tutorial-video h1,.container-home h1,.container-about h1,.col-md-4,.container-history h1{
      text-align: center;
    }
 
}  
  
  @media(max-width: 1199.98px) {
    .sidebar {
      height: auto;
      position: relative;
    }
    .sidebar a  {float: left; font-size: 12px ;}
    div.content {margin-left: 0;}
    .container-tutorial,.container-tutorial-video,.container-home,.container-about,.container-history{
      margin-left:150px !important ;
    }
  }
  @media (max-width: 991.98px) { 
    .container-tutorial,.container-tutorial-video,.container-home,.container-about,.container-history{
      margin-left: 0px !important;
    }
   }

  @media (max-width: 767.98px) { 
    .container-tutorial,.container-tutorial-video,.container-home,.container-about,.container-history{
      margin-left: auto !important;
    }
  }
  
  
  @media (max-width: 575.98px) {
    .sidebar {
      width: 100%;
    }
    .sidebar a {
      text-align: center;
      float: none;
    }
  .container-tutorial,.container-tutorial-video,.container-home,.container-about,.container-history{
      margin-left: auto !important;
            
      }
    }

  .wrapper-card-img{
    position: relative; 
    /* ไม่กระโดด */
    overflow: hidden; 
    /* ซ่อนภาพ*/
  }
  /* Card */
  .wrapper-card-img::after{
    content:'';
    padding-top:56.25%;
    display: block;
    height: 0;
    
  }
  
  .wrapper-card-img img{
    position: absolute !important;
    top: 0;
  }
  .wrapper-card-img img:hover{
    opacity: 0.4;
    transition: 2s;
  }
  .shadows{
      box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.5);
  }